body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f0f0f0;
}

.name {
    color: #FF9900;
}

.trainer {
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to the center */
    justify-content: space-between; /* Space between content and image */
    height: 100vh; /* Full viewport height */
}

.content {
    text-align: center; /* Center align content */
    width: 100%; /* Ensure content takes full width */
    margin-bottom: 20px; /* Margin to separate content and image */
}

.image-container {
    margin-top: auto; /* Push to the bottom */
}

.teacher-image {
    max-width: 200px; /* Adjust size as needed */
    height: auto;
    display: block;
    margin-top: 20px; /* Margin to separate image from top */
}

.aws-button, .docker-button, .linkedin-button {
    display: inline-block;
    background-color: #FF9900; /* AWS orange */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.docker-button {
    background-color: #2496ED; /* Docker blue */
}

.linkedin-button {
    background-color: #0077B5; /* LinkedIn blue */
}
