body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.name {
    color: #FF9900;
}

.highlighted-name {
    color: #FF9900;
    font-weight: bold;
}

.trainer {
    font-weight: bold;
}

.curriculum {
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif; /* Example of a stylish font */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.teacher-image {
    width: 50%;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
}

.aws-button, .docker-button, .linkedin-button {
    display: inline-block;
    background-color: #FF9900; /* AWS orange */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.docker-button {
    background-color: #2496ED; /* Docker blue */
}

.linkedin-button {
    background-color: #0077B5; /* LinkedIn blue */
}

.image-container {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}
